@use "../scss/core.scss" as *;

:root {
  @include fluidV4rs("spacing",
    "50-200",
    "50-210-320-1920",
    (
        "min": 50,
        "max": 220,
    ), 
    (
        "min": 50,
        "max": 230,
        "minViewport": 320,
        "maxViewport": 1920,
    ),
    (
        "name": "custom-spacing-1",
        "min": 50,
        "max": 240,
        "minViewport": 320,
        "maxViewport": 1920,
    ),
    (
        "name": "custom-spacing-2",
        "values": "50-250-320-1920",
    ),
    (
        "values": "50-260-320-1920"
    )
);

  @include fluidV4rs("fontsize", "36-60", "28-48-400-1800");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: #0d1117;
}

.container {
  padding: var(--spacing-60-140-600-1600) var(--spacing-16-200);
}

h1 {
  color: #fb923c;
  font-size: var(--fontsize-36-60);
}

h2 {
  margin-top: var(--small-spacing);
  font-size: var(--fontsize-28-48-400-1800);
  color: #facc15;
}

p {
  margin-top: 0.7rem;
  font-size: 1.1rem;
  color: #fff;
}

